@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/**
色テーマの追加。様々なコンポーネントに自動的に適用される。
*/
$custom-colors: (
  "test-main": #99fe99,
  "test-sub": #393,
  "test-txt": #630,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

/**
余白のスケールを変更。様々な余白に適用される。bootstrap の余白は段階が足りないので。
*/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);
